<!doctype html>
<html>

    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>{{ address }}</title>
    </head>

    <body>

        <table >
            <td align="center" width="5%"> swap_id </td>
            <td align="center" width="5%"> Coin/Token </td>
            <td align="center" width="20%"> From</td>
            <td align="center" width="20%"> To </td>
            <td align="center" width="10%"> Amount </td>
            <td align="center" width="25%"> Message </td>
            <td align="center" width="5%"> Time </td>
            <td align="center" width="5%"> Detail</td>

            {% for value in results %}
            <tr>

              <td align="center"> {{ value["swap_id"] }} </td>
                <td align="center">
                  <a href= "{{ url_for( 'swap_coin', coin=value['coin'], token= value['token']) }}">
                    {{ value["coin"] }}/{{ value["token"] }}
                  </a>
                </td>
                <td align="right"> {{ value["from"] }} </td>
                <td align="right"> {{ value["to"] }} </td>
                <td align="right"> {{ value["amount"] }} </td>
                <td align="center" style="{{ 'background-color:#fffffb;' if value['finish']==0 else 'background-color:#F08080;' }}"> {{ value["message"] }} </td>
                <td align="center"> {{ value["time"] }} </td>
                <td align="center">
                    <a href= "{{ url_for( 'swap_raw' , tx_from=value['tx_from'] ) }}">
                          More
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>