<!doctype html>
<html>
    <script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>{{ 'db {}'.format(table) }}</title>
    </head>

    <div id="dateid" d="{{date}}" style="display:none"></div>
    <div id="page_index" pi="{{page_index}}" style="display:none"></div>

    <body>
        <table>
            {% if results | length %}
            <tr>
                {% for key in results[0].keys() %}
                <td align="center">{{ key }}</td>
                {% endfor %}
            </tr>
            {% endif %}
            {% for item in results %}
            <tr>
                {% for value in item.values() %}
                <td align="right">{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    
    </body>
</html>
