<!doctype html>
<html>

    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>{{ 'Report {}'.format(date) }}</title>
    </head>

   <body>
        <div class="date">
            <form action="/report_query" method="post">
                <input type="text" name="date_from" placeholder="date_from, eg: 20180801" />
                --
                <input type="text" name="date_to" placeholder="date_to, can be omit" />
                <button type="submit" value="Submit" >Search</button>
            </form>
        </div>
        <table>
            <td align="center" width="20%"> Type </td>
            <td align="center" width="80%"> Balance </td>
            <tr>
                <td align="right"> ETP </td>
                <td align="right"> {{ etp_balance }} </td> 
            <tr>
            <tr>
                <td align="right"> ETH </td>
                <td align="right"> {{ eth_balance }} </td> 
            <tr>
        <table>
        <table>
            <td align="center" width="9%"> From Coin </td>
            <td align="center" width="9%"> From Token </td>
            <td align="center" width="9%"> Finished Num </td>
            <td align="center" width="9%"> Finished Amount </td>
            <td align="center" width="9%"> Pending Num </td>
            <td align="center" width="9%"> Pending Amount </td>
            <td align="center" width="9%"> Ban Num </td>
            <td align="center" width="9%"> Ban Amount </td>
            <td align="center" width="9%"> Total Num </td>
            <td align="center" width="9%"> Total Amount </td>
            <!-- <td align="center" width="10%"> Total Fee </td> -->
            <td align="center" width="10%"> Date </td>

            {% for value in reports %}
            <tr>
                <td align="center"> {{ value[0] }} </td>
                <td align="center">
                    <a href= "{{ url_for( 'swap_token', token=value[1]) }}">
                        {{ value[1] }}
                    </a>
                </td>

                <td align="center">
                  {% if value[2] != 0 %}
                    <a href= "{{ url_for( 'swap_status', coin=value[0],token=value[1],date=date,status=1) }}">
                            {{ value[2] }}
                    </a>
                  {% else %}
                    {{ value[2] }}
                  {% endif %}
                </td>
                <td align="right"> {{ value[3] }} </td>

                <td align="center">
                  {% if value[4] != 0 %}
                    <a href= "{{ url_for( 'swap_status', coin=value[0],token=value[1],date=date,status=2) }}">
                            {{ value[4] }}
                    </a>
                  {% else %}
                    {{ value[4] }}
                  {% endif %}
                </td>
                <td align="right"> {{ value[5] }} </td>

                <td align="center">
                  {% if value[6] != 0 %}
                    <a href= "{{ url_for( 'swap_status', coin=value[0], token=value[1], date=date, status=3) }}">
                            {{ value[6] }}
                    </a>
                  {% else %}
                    {{ value[6] }}
                  {% endif %}
                </td>

                <td align="right"> {{ value[7] }} </td>

                <td align="center"> {{ value[8] }} </td>
                <td align="right"> {{ value[9] }} </td>
                <!-- <td align="right"> {{ value[10] }} </td> -->

                <td align="center">
                        <a href= "{{ url_for( 'swap_date', date=date) }}">
                            {{ date }}
                        </a>
                </td>

            </tr>
            {% endfor %}
        </table>

   </body>
</html>