<!doctype html>
<html>

    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>{{ 'Report {}'.format(date) }}</title>
    </head>

   <body>
      <div class="date">
          <form action="/report_query" method="post">
              <input type="text" name="date_from" placeholder="date_from, eg: 20180801" />
              --
              <input type="text" name="date_to" placeholder="date_to, can be omit" />
              <button type="submit" value="Submit" >Search</button>
          </form>
      </div>
      <table>
        <td align="center" width="10%"> Coin </td>
        <td align="center" width="10%"> Token </td>
        <td align="center" width="20%"> Processed Amount</td>
        <!-- <td align="center" width="10%"> Processed Fee</td> -->
        <td align="center" width="15%"> Processed Num </td>
        <td align="center" width="20%"> Pending Amount</td>
        <td align="center" width="15%"> Pending Num</td>
          {% for values in reports %}
              <tr>
                <td align="right"> {{ values[0] }} </td>
                <td align="right">
                    <a href= "{{ url_for( 'swap_token', token=values[1]) }}">
                        {{ values[1] }}
                    </a>
                </td>
                <td align="right"> {{ values[2] }} </td>
                <!-- <td align="right"> {{ values[3] }} </td> -->
                <td align="center">
                  {% if values[4] != 0 %}
                    <a href= "{{ url_for( 'swap_status', coin=values[0],token=values[1],date=date,status=1) }}">
                            {{ values[4] }}
                    </a>
                  {% else %}
                    {{ values[4] }}
                  {% endif %}
                </td>
                <td align="right"> {{ values[5] }} </td>
                <td align="center">
                  {% if values[6] != 0 %}
                    <a href= "{{ url_for( 'swap_status', coin=values[0],token=values[1],date=date,status=2) }}">
                            {{ values[6] }}
                    </a>
                  {% else %}
                    {{ values[6] }}
                  {% endif %}
                </td>
              </tr>

          {% endfor %}
      </table>

   </body>
</html>