<!doctype html>
<html>

    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>{{  token }}</title>
    </head>

    <body>

        <table>
            <td align="center" width="5%"> Coin </td>
            <td align="center" width="5%"> Token </td>
            <td align="center" width="25%"> From</td>
            <td align="center" width="25%"> To </td>
            <td align="center" width="7%"> Amount </td>
            <!-- <td align="center" width="3%"> Fee </td> -->
            <td align="center" width="10%"> Height </td>
            <td align="center" width="10%"> Date </td>
            <td align="center" width="10%"> Time </td>
            <td align="center" width="10%"> Detail </td>

            {% for value in results %}
            <tr>
                <td align="center"> {{ value.coin }} </td>
                <td align="center"> {{ value.token }} </td>
                <td align="right">
                    <a href= "{{ url_for( 'swap_address', address=value.from_address) }}">
                    {{ value.from_address }}
                    </a>
                </td>
                <td align="right">
                    <a href= "{{ url_for( 'swap_address', address=value.to_address) }}">
                        {{ value.to_address }}
                    </a>
                </td>
                <td align="right"> {{ value.amount }} </td>
                <!-- <td align="right"> {{ value.fee }} </td> -->
                <td align="right"> {{ value.tx_height }} </td>
                <td align="center">
                        <a href= "{{ url_for( 'swap_date', date=value.date) }}"> 
                            {{ value.date }}
                        </a>
                </td>
                <td align="center"> {{ value.time }} </td>
                <td align="center">
                        <a href= "{{ url_for( 'swap_raw' , tx_from=value.tx_from ) }}">
                              More
                        </a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>