<!doctype html>
<html>

    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

   <body>
      <table>
        <tr>
            <td align="center" >Parameter</td>
            <td align="center" >Value</td>
        </tr>

        <tr>
            <td align="left" > Swap ID </td>
            <td align="left" > {{ result.swap_id }} </td>
        </tr>
        <tr>
            <td align="left" > Coin </td>
            <td align="left" > {{ result.coin }} </td>
        </tr>
        <tr>
            <td align="left" > Token </td>
            <td align="left">
                <a href= "{{ url_for( 'swap_token', token= result.token) }}">
                    {{ result.token }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="left" > From </td>
            <td align="left" >
                <a href= "{{ url_for( 'swap_address', address=result.from_address) }}">
                    {{ result.from_address }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="left" > To </td>
            <td align="left" >
                <a href= "{{ url_for( 'swap_address', address=result.to_address) }}">
                        {{ result.to_address }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="left" > Amount </td>
            <td align="left" > {{ result.amount }} </td>
        </tr>
        <!-- <tr>
            <td align="center" > Fee </td>
            <td align="center" > {{ result.fee }} </td>
        </tr> -->
        <tr>
                <td align="left" > From Transaction </td>
                <td align="left" > {{ result.tx_from }} </td>
        </tr>
        <tr>
            <td align="left" > Transaction </td>
            <td align="left" > {{ result.tx_hash if result.tx_hash else '' }} </td>
        </tr>
        <tr>
            <td align="left" > Confirmed </td>
            <td align="left" > {{ result.confirm_status }} </td>
        </tr>
        <tr>
            <td align="left" > Status </td>
            <td align="left" > {{ result.status }} </td>
        </tr>
        <tr>
            <td align="left" > Tx Height </td>
            <td align="left" > {{ result.tx_height }} </td>
        </tr>
        <tr>
            <td align="left" > Last Confirm </td>
            <td align="left" > {{ result.confirm_height }} </td>
        </tr>
        <tr>
            <td align="left" > Time </td>
            <td align="left" >
                <a href= "{{ url_for( 'swap_date', date=result.date) }}">
                    {{ result.date }}
                </a>
                {{ result.time }}
            </td>
        </tr>
        <tr>
            <td align="left" > Message </td>
            <td align="left" > {{ result.message if result.message else '' }} </td>
        </tr>
    </table>

   </body>
</html>
