<!doctype html>
<html>

    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

   <body>
      <table border>
        <tr>
            <td align="center" width="35%">Parameter</td>
            <td align="center" width="65%">Value</td>
        </tr>

        <tr>
            <td align="center" > Swap ID </td>
            <td align="center" > {{ result.swap_id }} </td>
        </tr>
        <tr>
            <td align="center" > Coin </td>
            <td align="center" > {{ result.coin }} </td>
        </tr>
        <tr>
            <td align="center" > Token </td>
            <td align="center">
                <a href= "{{ url_for( 'swap_token', token= result.token) }}">
                    {{ result.token }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" > From </td>
            <td align="center" >
                <a href= "{{ url_for( 'swap_address', address=result.from_address) }}">
                    {{ result.from_address }}
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" > To </td>
            <td align="center" > 
                <a href= "{{ url_for( 'swap_address', address=result.to_address) }}">
                        {{ result.to_address }}
                </a> 
            </td>
        </tr>
        <tr>
            <td align="center" > Amount </td>
            <td align="center" > {{ result.amount }} </td>
        </tr>
        <tr>
            <td align="center" > Fee </td>
            <td align="center" > {{ result.fee }} </td>
        </tr>
        <tr>
                <td align="center" > From Transaction </td>
                <td align="center" > {{ result.tx_from }} </td>
        </tr>
        <tr>
            <td align="center" > Transaction </td>
            <td align="center" > {{ result.tx_hash }} </td>
        </tr>
        <tr>
            <td align="center" > Confirmed </td>
            <td align="center" > {{ result.confirm_status }} </td>
        </tr>
        <tr>
            <td align="center" > Status </td>
            <td align="center" > {{ result.status }} </td>
        </tr>
        <tr>
            <td align="center" > Tx_Height </td>
            <td align="center" > {{ result.tx_height }} </td>
        </tr>
        <tr>
            <td align="center" > Last_Confirm </td>
            <td align="center" > {{ result.confirm_height }} </td>
        </tr>
        <tr>
            <td align="center" > Date </td>
            <td align="center" >
                <a href= "{{ url_for( 'swap_date', date=result.date) }}">
                    {{ result.date }}
                </a> 
            </td>
        </tr>
        <tr>
            <td align="center" > Time </td>
            <td align="center" > {{ result.swap_id }} </td>
        </tr>
        <tr>
            <td align="center" > Message </td>
            <td align="center" > {{ result.swap_id }} </td>
        </tr>
    </table>

   </body>
</html>
