table, tr, td, th {
  padding:5px;
  border:1px solid #BDB76B;
  border-collapse:collapse;
}

table tr:nth-child(odd){
  background: #fffffb;
}

table tr:nth-child(even){
  background: #f6f5ec;
}

table tr:hover {
  background: #90d7ec;
}


progress
{
   color:orange; /*兼容IE10的已完成进度背景*/
   border:none;
   background:#d7d7d7;/*这个属性也可当作Chrome的已完成进度背景，只不过被下面的::progress-bar覆盖了*/      
   
}

progress::-webkit-progress-bar

{
   background:#d7d7d7;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar
{
     background:orange;
}