table, tr, td, th {
  padding:5px;
  border:1px solid #BDB76B;
  border-collapse:collapse;
}

table tr:nth-child(odd){
  background: #fffffb;
}

table tr:nth-child(even){
  background: #f6f5ec;
}

table tr:hover {
  background: #90d7ec;
}


progress {
  width: 160px;
  border: 1px solid #0064B4;  
  background-color:#e6e6e6;
  color: #0064B4; /*IE10*/
}

progress::-moz-progress-bar { background: #0064B4; }
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #0064B4; }